@font-face {
    font-family: Almendra;
    src: url(fonts/Almendra-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Marcellus;
    src: url(fonts/Marcellus-Regular.ttf);
    font-weight: normal;
}

body {
    color: #584141;
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: #896b6b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: Almendra, serif;
    margin: 10px;
}

.logo img {
    width: 30px;
    height: auto;
}

.logo h1 {
    font-size: 1rem;
    margin: 0;
}

.menu {
    list-style-type: none;
    gap: 1rem;
    margin: 10px;
    display: flex;
    font-family: Marcellus, serif;
    font-size: 0.7rem;
}

nav a {
    text-decoration: none;
    color: #fff;
}

footer {
    background-color: #896b6b;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: Marcellus, serif;
    font-size: 0.7rem;
}

.main-picture img {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}