@font-face {
    font-family: Almendra;
    src: url(fonts/Almendra-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Marcellus;
    src: url(fonts/Marcellus-Regular.ttf);
    font-weight: normal;
}

body {
    color: #584141;
}

header {
    background-color: #896b6b;
    justify-content: space-between;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px;
    color: #fff;
    font-family: Almendra, serif;
}

.logo img {
    width: 60px;
    height: auto
}

.logo h1 {
    font-size: 2.5rem;
    margin: 0;
}

.menu {
    list-style-type: none;
    display: flex;
    
}

